PORT=
VITE_SUPABASE_URL=
VITE_SUPABASE_ANON_KEY=
SUPABASE_SERVICE_ROLE_KEY=
SUPABASE_JWKS_URL=
DATABASE_URL=
DB_HOST=
DB_PORT=
DB_DATABASE=
DB_USER=

# ----------------- GMAIL SMTP -----------------
GMAIL_USER=
GMAIL_PASS=
