ALTER TABLE public.cash_donations DROP CONSTRAINT IF EXISTS cash_donations_receipt_number_key; ALTER TABLE public.cash_donations ADD CONSTRAINT cash_donations_group_receipt_unique UNIQUE (group_id, receipt_number); ALTER TABLE public.item_donations DROP CONSTRAINT IF EXISTS item_donations_receipt_number_key; ALTER TABLE public.item_donations ADD CONSTRAINT item_donations_group_receipt_unique UNIQUE (group_id, receipt_number);
